tmp/flows.json
[
    {
        "id": "3756830b78186303",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66dc5df5eeaf126c",
        "type": "inject",
        "z": "3756830b78186303",
        "name": "Inject (5 sec)",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "9247088530e18f50"
            ]
        ]
    },
    {
        "id": "3f334632c10dc8a0",
        "type": "mqtt out",
        "z": "3756830b78186303",
        "name": "",
        "topic": "challenge3/id_generator",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "817ce920ac63bd5e",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "340c4742d628f286",
        "type": "mqtt in",
        "z": "3756830b78186303",
        "name": "",
        "topic": "challenge3/id_generator",
        "qos": "2",
        "datatype": "json",
        "broker": "817ce920ac63bd5e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 1080,
        "wires": [
            [
                "0342935a1c99d99d"
            ]
        ]
    },
    {
        "id": "9247088530e18f50",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Create payload ",
        "func": "let initializationCompleted = flow.get(\"initializationCompleted\") || false;\nif (!initializationCompleted) {\n    return null;    \n}\n\nvar id = Math.floor(Math.random() * 30000);\n\nvar timestamp = Math.floor(Date.now() / 1000);\nmsg.payload = {\n    id: id,\n    timestamp: timestamp\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 560,
        "wires": [
            [
                "3f334632c10dc8a0",
                "ce16f8eaeec5cb43"
            ]
        ]
    },
    {
        "id": "f0d8de5e992893df",
        "type": "csv",
        "z": "3756830b78186303",
        "name": "id_log.csv",
        "spec": "rfc",
        "sep": ",",
        "hdrin": false,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r",
        "temp": "No.,ID,TIMESTAMP",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1080,
        "y": 640,
        "wires": [
            [
                "3255d3f3c2e7740d"
            ]
        ]
    },
    {
        "id": "3255d3f3c2e7740d",
        "type": "file",
        "z": "3756830b78186303",
        "name": "Write id_log.csv",
        "filename": "/Users/kevin/Desktop/id_log.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1300,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ce16f8eaeec5cb43",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Add row number",
        "func": "var counter = context.get(\"row_count_id_log\") || 0;\ncounter++;\ncontext.set(\"row_count_id_log\", counter);\nvar id = msg.payload[\"id\"];\nvar timestamp = msg.payload[\"timestamp\"];\nmsg.payload = {\n    \"No.\" : counter,\n    \"ID\" : id,\n    \"TIMESTAMP\": timestamp\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 640,
        "wires": [
            [
                "f0d8de5e992893df"
            ]
        ]
    },
    {
        "id": "0342935a1c99d99d",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Compute N",
        "func": "var processedMessages = context.get(\"processed_messages\") || 0;\nprocessedMessages ++;\ncontext.set(\"processed_messages\", processedMessages);\nif (processedMessages > 80) {\n    return null;\n}\n\nvar id = msg.payload[\"id\"];\nvar N = id % 7711;\n\nconsole.log(N);\n\n// saved id and N\nmsg.id = id;\nmsg.N = N;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1080,
        "wires": [
            [
                "f6b4fbb425037be9"
            ]
        ]
    },
    {
        "id": "f6b4fbb425037be9",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Select message N",
        "func": "if (msg.N === 0) {\n  return null;\n}\n\nlet rows = flow.get(\"csv_challenge3\");\n\nif (!rows) {\n  console.log(\"NULL ROWS \")\n  return null;\n}\n\nlet target = rows.find(r =>\n  parseInt(r[\"No.\"], 10) === msg.N\n);\nmsg.payload = target;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1080,
        "wires": [
            [
                "7b777d632ac98412",
                "d838a822e9464ca4",
                "700ca40ca81003af"
            ]
        ]
    },
    {
        "id": "98784cb81b7ef052",
        "type": "delay",
        "z": "3756830b78186303",
        "name": "Message Rate Limiter MQTT",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1500,
        "y": 880,
        "wires": [
            [
                "4ae423592b25a061",
                "f74ecb82d025e14c",
                "d4a95f5a4f691dc3"
            ]
        ]
    },
    {
        "id": "f74ecb82d025e14c",
        "type": "mqtt out",
        "z": "3756830b78186303",
        "name": "Publish from CSV ",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "817ce920ac63bd5e",
        "x": 1790,
        "y": 960,
        "wires": []
    },
    {
        "id": "4ae423592b25a061",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Prepare Average temperature Fahrenheit",
        "func": "if (msg.payload.payload.type === \"temperature\" && msg.payload.payload.unit === \"F\") {\n    let minTemp = msg.payload.payload.range[0];    \n    let maxTemp = msg.payload.payload.range[1];\n    let avgTemp = (minTemp + maxTemp)/2;\n    \n    msg.topic = \"TempF\";\n    msg.payload = avgTemp;\n    return msg;\n}\nreturn null\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 800,
        "wires": [
            [
                "b99e9616454db3ca"
            ]
        ]
    },
    {
        "id": "b99e9616454db3ca",
        "type": "ui_chart",
        "z": "3756830b78186303",
        "name": "Average temperature (F) chart",
        "group": "dbeb544f78cf351e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Average temperature (F)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2230,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "fe4048a169b6f37a",
        "type": "csv",
        "z": "3756830b78186303",
        "name": "filtered_pubs.csv",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r",
        "temp": "No.,LONG,LAT,MEAN_VALUE,TYPE,UNIT,DESCRIPTION",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 2090,
        "y": 880,
        "wires": [
            [
                "2acc64363167028e"
            ]
        ]
    },
    {
        "id": "d4a95f5a4f691dc3",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Prepare filtered_pubs.csv",
        "func": "if (msg.payload.payload.type === \"temperature\" && msg.payload.payload.unit === \"F\") {\n    var counter = context.get(\"row_count_filtered_pubs\") || 0;\n    counter++;\n    context.set(\"row_count_filtered_pubs\", counter);\n\n    let data = msg.payload.payload;\n    let meanValue = (data.range[0] + data.range[1]) / 2;\n    let long = data.long;\n    let lat = data.lat;\n    let type = data.type;\n    let unit = data.unit;\n    let desc = data.description;\n    msg.payload = {\n        \"No.\" : counter,\n        \"LONG\": long,\n        \"LAT\": lat,\n        \"MEAN_VALUE\": meanValue,\n        \"TYPE\": type,\n        \"UNIT\": unit,\n        \"DESCRIPTION\": desc\n    }\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 880,
        "wires": [
            [
                "fe4048a169b6f37a"
            ]
        ]
    },
    {
        "id": "2acc64363167028e",
        "type": "file",
        "z": "3756830b78186303",
        "name": "Write filtered_pubs.csv",
        "filename": "/Users/kevin/Desktop/filtered_pubs.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2360,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "7b777d632ac98412",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Handle ACK message",
        "func": "if (msg.payload[\"Protocol\"] === \"MQTT\" && msg.payload[\"Info\"].includes(\"Ack\")) {\n    var counter = context.get(\"row_count_ack_log\") || 0;\n    counter++;\n    context.set(\"row_count_ack_log\", counter);\n\n    var currTimestamp = Math.floor(Date.now() / 1000);\n    let idMatch = msg.id;\n    var type = \"\";\n    if (msg.payload[\"Info\"].includes(\"Connect Ack\")) {\n        type = \"Connect Ack\";\n    } else if (msg.payload[\"Info\"].includes(\"Publish Ack\")){\n        type = \"Publish Ack\";\n    } else if (msg.payload[\"Info\"].includes(\"Subscribe Ack\")) {\n        type = \"Subscribe Ack\";\n    }\n    //console.log(msg.payload);\n    msg.payload = {\n        \"No.\": counter,\n        \"TIMESTAMP\": currTimestamp,\n        \"SUB_ID\": idMatch,\n        \"MSG_TYPE\": type\n    }\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1080,
        "wires": [
            [
                "c4cf368fbead4e9f",
                "87a29cda997da0c0"
            ]
        ]
    },
    {
        "id": "c4cf368fbead4e9f",
        "type": "csv",
        "z": "3756830b78186303",
        "name": "ack_log.csv",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r",
        "temp": "No.,TIMESTAMP,SUB_ID,MSG_TYPE",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1390,
        "y": 1040,
        "wires": [
            [
                "4e553a49d48225eb"
            ]
        ]
    },
    {
        "id": "4e553a49d48225eb",
        "type": "file",
        "z": "3756830b78186303",
        "name": "Write ack_log.csv",
        "filename": "/Users/kevin/Desktop/ack_log.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1630,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "d838a822e9464ca4",
        "type": "debug",
        "z": "3756830b78186303",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1200,
        "wires": []
    },
    {
        "id": "87a29cda997da0c0",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Prepare HTTP GET",
        "func": "var API_KEY=\"ZDZ3WHERCF259OFD\"\nvar globalCounter = msg.payload[\"No.\"]\n\nmsg.method = \"GET\";\nmsg.url = \"https://api.thingspeak.com/update?api_key=\"+API_KEY+\"&field1=\"+globalCounter\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 1120,
        "wires": [
            [
                "488005188de604ff"
            ]
        ]
    },
    {
        "id": "fd12d6cbee4da5cc",
        "type": "http request",
        "z": "3756830b78186303",
        "name": "HTTP Request ThingSpeak",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2060,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "f1a7c7b0a02ab6e5",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Prepare DELETE",
        "func": "var channelID = 2924504;\nvar USER_API_KEY = \"F96QKIB7FK3F5KVG\"\n\nmsg.method = \"DELETE\";\n//msg.headers['Host'] = 'api.thingskpeak.com'\nmsg.payload = \"api_key=\" + encodeURIComponent(\"F96QKIB7FK3F5KVG\");\nmsg.headers = msg.headers || {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.url = \"https://api.thingspeak.com/channels/\" + channelID + \"/feeds.json\";\n//msg.payload = \"api_key=\" + USER_API_KEY;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "db796ccabd35deb2"
            ]
        ]
    },
    {
        "id": "db796ccabd35deb2",
        "type": "http request",
        "z": "3756830b78186303",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 160,
        "wires": [
            [
                "d3f2d2f829eb167c"
            ]
        ]
    },
    {
        "id": "d9f4e870f3ba660c",
        "type": "inject",
        "z": "3756830b78186303",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "f1a7c7b0a02ab6e5",
                "443abcb578231993",
                "97440b8d08da721d",
                "525ead5c94249663",
                "eb57d670408b9182"
            ]
        ]
    },
    {
        "id": "443abcb578231993",
        "type": "file in",
        "z": "3756830b78186303",
        "name": "Read challenge3.csv",
        "filename": "/Users/kevin/Desktop/challenge3.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "d889246c148bd6a7"
            ]
        ]
    },
    {
        "id": "d889246c148bd6a7",
        "type": "csv",
        "z": "3756830b78186303",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 790,
        "y": 100,
        "wires": [
            [
                "8018800e551866fd"
            ]
        ]
    },
    {
        "id": "97440b8d08da721d",
        "type": "file",
        "z": "3756830b78186303",
        "name": "Clear id_log.csv",
        "filename": "/Users/kevin/Desktop/id_log.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "d3f2d2f829eb167c"
            ]
        ]
    },
    {
        "id": "525ead5c94249663",
        "type": "file",
        "z": "3756830b78186303",
        "name": "Clear filtered_pubs.csv",
        "filename": "/Users/kevin/Desktop/filtered_pubs.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 560,
        "y": 280,
        "wires": [
            [
                "d3f2d2f829eb167c"
            ]
        ]
    },
    {
        "id": "eb57d670408b9182",
        "type": "file",
        "z": "3756830b78186303",
        "name": "Clear ack_log.csv",
        "filename": "/Users/kevin/Desktop/ack_log.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "d3f2d2f829eb167c"
            ]
        ]
    },
    {
        "id": "d3f2d2f829eb167c",
        "type": "join",
        "z": "3756830b78186303",
        "name": "Initialization completed",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1230,
        "y": 220,
        "wires": [
            [
                "84abf518c79413aa"
            ]
        ]
    },
    {
        "id": "8018800e551866fd",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Save CSV",
        "func": "flow.set(\"csv_challenge3\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 100,
        "wires": [
            [
                "d3f2d2f829eb167c"
            ]
        ]
    },
    {
        "id": "84abf518c79413aa",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Set initialization completed",
        "func": "flow.set(\"initializationCompleted\", true);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "700ca40ca81003af",
        "type": "function",
        "z": "3756830b78186303",
        "name": "Handle PUBLISH message",
        "func": "if (msg.payload[\"Protocol\"] === \"MQTT\" && msg.payload[\"Info\"].includes(\"Publish Message\")) {\n    // save info in a variable\n    let info = msg.payload[\"Info\"];\n    // save messages payloads in a variable\n    let messagesPayloads = msg.payload[\"Payload\"] ?? \"\";\n\n    // extract topics\n    let topicMatches = [...info.matchAll(/Publish Message \\[([^\\]]+)\\]/g)];\n    let topics = topicMatches.map(m => m[1]);\n\n    // extract payloads\n    let jsonArray;\n    if (messagesPayloads.trim() === \"\") {\n        jsonArray = [];\n    } else {\n        try {\n            jsonArray = JSON.parse(\"[\" + messagesPayloads + \"]\");\n        } catch (e) {\n            // extract well formed messages\n\n            const objs = [];\n            const objRegex = /\\{[^}]*\\}/g;\n            let m;\n            while ((m = objRegex.exec(messagesPayloads)) !== null) {\n                try {\n                objs.push(JSON.parse(m));\n                } catch (_) {\n                    // skip malformed object\n                }\n            }\n            jsonArray = objs;\n        }\n    }\n\n    // create messages \n    var currTimestamp = Math.floor(Date.now() / 1000);\n    let messages = topics.map((topic, index) => {\n        return {\n            topic: topic, \n            payload: {\n                timestamp: currTimestamp.toString(),\n                id: msg.id.toString(),\n                topic: topic,\n                payload: jsonArray[index] ?? {}\n            }\n        };\n    });\n    \n    return [messages];\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 960,
        "wires": [
            [
                "98784cb81b7ef052"
            ]
        ]
    },
    {
        "id": "488005188de604ff",
        "type": "delay",
        "z": "3756830b78186303",
        "name": "Message Rate Limiter ThingSpeak",
        "pauseType": "rate",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1720,
        "y": 1120,
        "wires": [
            [
                "fd12d6cbee4da5cc"
            ]
        ]
    },
    {
        "id": "817ce920ac63bd5e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dbeb544f78cf351e",
        "type": "ui_group",
        "name": "Default",
        "tab": "4b65753f2616bdcc",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b65753f2616bdcc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]